body {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}


main {
  min-height: 80vh;
}

.showToaster {
  display: block;
  width: 40%;
  padding: 2rem;
  position: fixed;
  top: 1rem;
  left: 30%;
  right: 40%;
  z-index: 1;
  background: rgb(212, 208, 208);
}

.hideToaster {
  display: none;
}

.closeBtn {
  cursor: pointer;
}

header .link {
  color: #fff;
  margin-left: 1rem;
}

@media(max-width: 768px) {
  header .link {
    color: #fff;
    margin-top: 1rem;
  }
}

